@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #ffbb00;
}

body {
  font-family: 'Lexend', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ffbb00;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d9a607;
}
